<p>
  <b>Uid:</b>
  <%=h @userskill.uid %>
</p>

<p>
  <b>Sid:</b>
  <%=h @userskill.sid %>
</p>

<p>
  <b>Skname:</b>
  <%=h @userskill.skname %>
</p>

<p>
  <b>Level:</b>
  <%=h @userskill.level %>
</p>

<p>
  <b>Tp:</b>
  <%=h @userskill.tp %>
</p>


<%= link_to 'Edit', edit_userskill_path(@userskill) %> |
<%= link_to 'Back', userskills_path %>