<script src="/javascripts/jquery-1.3.2.js"></script>
<div style='background:black;color:white;font-size:11pt;margin:0;left:0;width:320;'>
<style>
/*.fight_result{font-size:13pt;}*/
.f_win{color:red;}
.f_lose{color:yellow;}
.poisoned{color:#9999ff;}
.weapon{color:#ff9999;}
div.user{color:#eeeeee}
div.enemy{color:#ff8888}
.npc{color:#ff0000}
.damage{color:#ff0000;}
.status{font-size:10pt;}
.rgain{color:yellow;font-size:10pt;}
.rgain span{color:#99ff99}
.attr{color:#99ff99;/*width:30px;display: inline-block;*/white-space:nowrap;}
.skillname{color:#ffaaaa}
.performname{color:#ff0000}
.perform{color:#ff0000}
.bishaji{color:yellow;}
img.player {height:100px;}
.stl_playername{width:50px;display: inline-block;white-space:nowrap;}
.st_v{width:30px;display: inline-block;white-space:nowrap;}

.playername{color:white;font-size:12pt;position:absolute;top:95;z-index:100;}
.bloodslot {border:1px solid;border-color:#eee #ddd #ddd #eee;top:100;width:122px;height:12;/*background-image:url('/images/bloodslot.png');*/}
.bloolbar {background-image:url('/images/bloodbar_green.jpg');width:50px;height:10;margin:1;}
.warn_1{color:red;}
</style>

	<div id="bg" style="background-color:transparent;opacity:1;z-index:-1;position:absolute;left:-5;top:-5;width:350px;height: 430px;">
			<!--img id="bg" src="/images/quest_bg.png" style="margin:10 0;height:480px;width:350px;"/-->
	</div>
	<img class="player" id="p1" style="position:absolute;left:10px;top:0;" src='<%="#{@serverurl}/game/profile/p_#{@context[:p1].data[:profile].to_i}m.png"%>' />
	<img class="player" style="position:absolute;left:130px;top:20;" src='<%="#{@serverurl}/images/vs.png"%>' />
	<img class="player" id="p2" style="position:absolute;left:200px;top:0;" src='<%="#{@serverurl}/game/profile/p_#{@context[:p2].data[:profile].to_i}m.png"%>' />
	<div class="playername" style="left:50px;">
		<%=@context[:p1].name%>
	</div>
	<div class="playername" style="left:230px;">
		<%=@context[:p2].name%>
	</div>
	<div id="p1bslot" class="bloodslot" style="position:absolute;left:10;">
		<div id="p1bbar" class="bloolbar" sytle="width:0px;">
		</div>
	</div>
	
	<div id="p2bslot" class="bloodslot" style="position:absolute;left:190;">
		<div id="p2bbar" class="bloolbar" style="width:0px;left:0px">
		</div>
	</div>

	<img style="z-index:100;position:absolute;left:230;top:120;width:25px;" src="/images/restart.png" alt="Replay" onclick="replay()"/>
	<img id="play" style="z-index:100;position:absolute;left:180;top:120;width:25px;" src="/images/stop.png" alt="playorstop" onclick="playorstop()"/>
	<div id="result" style="border:0px solid green;position:absolute;top:120px;margin-left:5px;z-index:10;height:100%;overflow-y:scroll;font-size:10pt;color:white;">
	</div>
	<div id="c" style="display:none;">
		<%=@context[:msg] %>
	</div>




</div>

<script>
	$("#result").css("height", window.screen.height-182);
	var line_number = 0;
	var TextArray=[];
	var timer;
	var stop = false;
	var finished = false;
	var fullblood_p1 = <%=@full_hp_p1%>
	var fullblood_p2 = <%=@full_hp_p2%>
	function playorstop(){
		if (stop){
			$("#play").attr("src", "/images/stop.png");
			stop= false;
		}
		else
		{
			$("#play").attr("src", "/images/play.png");
			stop= true;
		}
	
	}

	function replay(){
		if (!finished){
			$("#result").html($("#c").html());
			$("#result").attr("scrollTop",$("#result").attr('scrollHeight'));
			if (timer)
				clearInterval(timer);
			finished = true;
		}else{
			$("#result").html("");
			showTextWithTimer($("#c").html());
			finished = false;
		}
	}
	function showTextWithTimer(msg){
		if (!msg || msg.length==0)
			return;

		setBloodbar(msg);
			
		line_number = 0;
		TextArray = [];
		// reg = /<div([\s\S])*?div>/ig;
		// reg = /([\s\S])*?<br\/>/ig;
		reg =/<!--1-->([\s\S])*?<!--0-->/ig;
		while ((res = reg.exec(msg)) != null)  
		{  
  	//	 alert(res);
		 l = res[0].replace(/<!--1-->/g, "").replace(/<!--0-->/g, "").replace(/^\s+|\s+$/g, "");
	//	alert(l);
		 if (l != "")
		//	if (res[0] != nil && res[0] != "" && res[0].replace(/^\s+|\s+$/g, "") != "")
				TextArray.push(res[0]);
		}  


		if (timer)
			clearInterval(timer);
		timer = setInterval('onTimer();', 1200);
	
	}
	
	var p1_id = <%=@context[:p1].data[:id].to_s %>
		var p2_id = <%=@context[:p2].data[:id] %>
	//	var p1_maxhp = <%=@context[:p1].ext[:maxhp] %>
	//	var p2_maxhp = <%=@context[:p2].ext[:maxhp] %>
	
	var hp_p1;
	var hp_p2;
	function setBloodbar(s){
				// sreg = "<div class=\"status\">[\s\S]*?<div class='st_lines' id='p"+p1_id+"'>.*?<span class='attr'>hp<\/span>:(\d+)";
		sreg ="<div class=\"st_lines\" id=\"p"+p1_id+"\">.*?<span class=\"attr\">hp<\/span>:<span class=\"st_v\">(.*?)</span><span class=\"attr\">.*?</span>:<span class=\"st_v\">.*?</div>";
		
		reg = new RegExp(sreg ,"gm");
		 //<span class='attr'>hp<\/span>: \s*<span class='attr'>体力<\/span>:(\d+)\s*<br\/>.*?<span class='attr'>hp<\/span>:(\d+)
	 	 d = reg.exec(s);
	
		if (d){		 			// alert(d[1]);
			hp = d[1]
			if (hp<0)
				hp =0;
		//	if (hp_p1-hp > 5){
		//		shakeP1();
		//	}
			width = 120*hp/fullblood_p1;
			$("#p1bbar").width(width);
			if (width < 30){
					$("#p1bbar").css("background-image", "url('/images/bloodbar_red.jpg')");
			}else
				$("#p1bbar").css("background-image", "url('/images/bloodbar_green.jpg')");
				
			hp_p1 = hp;
		}
		
		sreg ="<div class=\"st_lines\" id=\"p"+p2_id+"\">.*?<span class=\"attr\">hp<\/span>:<span class=\"st_v\">(.*?)</span><span class=\"attr\">.*?</span>:<span class=\"st_v\">.*?</span><span class=\"attr\">.*?</span>:<span class=\"st_v\">.*?</span></div>";	
		// alert(sreg);
		reg = new RegExp(sreg ,"gm");
		d = reg.exec(s);
		// alert(d);
		if (d){		 	
			hp = d[1];
			if (hp<0)
				hp =0;
	//		if (hp_p2-hp > 5){
	//			shakeP2();
	//		}
			width = 120*hp/fullblood_p2;
			$("#p2bbar").width(width);	
			$("#p2bbar").css("margin-left", 1+120-width);	
			if (width < 30){
					$("#p2bbar").css("background-image", "url('/images/bloodbar_red.jpg')");
			}else{
					$("#p2bbar").css("background-image", "url('/images/bloodbar_green.jpg')");
			}
			hp_p2 = hp;
		}	
		
		
	//	status_block = "<div class=\"status\">[\s\S]<div class=\"st_lines\" id=\"p.*?\">.*?<span class=\"attr\">hp</span>:\*<span class=\"attr\">\"</span>:.*?</div>[\s\S]<div class=\"st_lines\" id=\"p.*\">.*?<span class=\"attr\">hp</span>:.*?<span class=\"attr\">.*?</span>:.*?</div>[\s\S]</div>[\s\S]</div>"
	//	reg = RegExp(status_block ,"gm");
	//	s.replace(reg, "")

		// s=s.replace(/<div class=\"st_lines\" id=\"p.*?\">.*?<\/div>/m, "");
		return s;
	}
	var current_c=0;
	function onTimer(){
		if (stop)
			return;
		if (line_number >= TextArray.length){
			clearInterval(timer);
			line_number = 0;
			finished = true;
			return;
		}
		s = TextArray[line_number];
		
	//	sreg =	"\(<span class=\"attr\">Hp<\/span>:<span class=\"damage\">(.*?)<\/span>\)";
		
	//	reg = new RegExp(sreg ,"gm");
//		alert(s);
		reg = /<!--user-->/g;
		if (reg.exec(s)){
			current_c = 0;
		}
		reg =  /<!--enemy-->/g;
		if (reg.exec(s)){
			current_c = 1;
		}
		
		reg = /\(<span class=\"attr\">Hp<\/span>:<span class=\"damage\">(.*?)<\/span>\)/g;
	 	d = reg.exec(s);
		if (d){
			if (d[1] < -5){
				if (current_c == 0)
					shakeP1(d[1]);
				else 
					shakeP2(d[1]);
			}
				
		}
		
		
		s= setBloodbar(s);
		

		$("#result").html( $("#result").html()+s);
		line_number +=1;
		$("#result").attr("scrollTop",$("#result").attr('scrollHeight'));
	}
	
	
	
 showTextWithTimer($("#c").html());

	var shakeTimerP1;
	var shakeTimerP2;
	var shakeStageP1=0;
	var shakeStageP2=0;

	function shakeP1(d){
   //   if (d >-10){
   //   	d = 3;
   //   }else if (d >-20 ){
   //   	d = 4;
   //   }else if (d >-50 ){
   //   	d = 5;
   //   }else if (d >-80 ){
   //   	d = 6;
   //   }
   //   d = -d/2;
   //   if (d>20)
   //   	d = 20;
			d = 6;
		node = $("#p1");
		left = parseInt( node.css("left"));
		if (shakeStageP1 == 0 || shakeStageP1==2){
			left -= d;
				
			node.css("left", left+"px");
			//	alert(left);
		}else if (shakeStageP1 == 1){
				
			left += d*2;
			node.css("left", left+"px");
		}

		shakeStageP1 ++;
		if (shakeStageP1 == 3){
			shakeStageP1 = 0;
			clearInterval(shakeTimerP1);
		}else if (shakeStageP1 == 1){
			shakeTimerP1 = setInterval("shakeP1("+d+");", 50);
		//	alert(shakeStageP1);
		}
	
	}
	
	function shakeP2(d){
	   // alert("shake2");
	   // if (d >-10){
	   // 	d = 3;
	   // }else if (d >-20 ){
	   // 	d = 4;
	   // }else if (d >-50 ){
	   // 	d = 5;
	   // }else if (d >-80 ){
	   // 	d = 6;
	   // }
	d = 6;
		node = $("#p2");
		left = parseInt( node.css("left"));
		if (shakeStageP2 == 0 || shakeStageP2==2){
			left -= d;
				
			node.css("left", left+"px");
			//	alert(left);
		}else if (shakeStageP2 == 1){
				
			left += d*2;
			node.css("left", left+"px");
		}

		shakeStageP2 ++;
		if (shakeStageP2 == 3){
			shakeStageP2 = 0;
			clearInterval(shakeTimerP2);
		}else if (shakeStageP2 == 1){
			shakeTimerP2 = setInterval("shakeP2("+d+");", 50);
		//	alert(shakeStageP1);
		}
	
	}


</script>
