<html>
<style>
#preloader {
/* Images you want to preload*/
background-image: url(/game/profile/p_0.png);
background-image: url(/game/profile/p_0b.png);
background-image: url(/game/profile/p_0m.png);

background-image: url(/game/profile/p_1.png);
background-image: url(/game/profile/p_1b.png);
background-image: url(/game/profile/p_1m.png);

background-image: url(/game/profile/p_2.png);
background-image: url(/game/profile/p_2b.png);
background-image: url(/game/profile/p_2m.png);

background-image: url(/game/profile/p_3.png);
background-image: url(/game/profile/p_3b.png);
background-image: url(/game/profile/p_3m.png);

background-image: url(/game/profile/p_4.png);
background-image: url(/game/profile/p_4b.png);
background-image: url(/game/profile/p_4m.png);

background-image: url(/game/profile/p_5.png);
background-image: url(/game/profile/p_5b.png);
background-image: url(/game/profile/p_5m.png);

background-image: url(/game/obj/npc/battle_player001.gif);


width: 0px;
height: 0px;
display: inline;
}
</style>
<body style="background-color: transparent; font-size:10pt;">
	<div id="main" style="height:170px;overflow:scroll;">
	<div>
	你昨天一共收到<%=@battle_count_last_day %>次挑战，胜<span style="color:red" ><%=@win_count_last_day %></span>, 负<span style="color:blue"><%=@battle_count_last_day - @win_count_last_day %></span>.
	</div>
	<div>
	你的累计战斗胜率为<span style="color:red"><%="%0.2f"%[@rate]%>%</span>
	</div>
	<!--div>
	<恭喜你！你获了得<span style="color:brown">一级铁十字勋章</span>和<span style="color:brown">初级剑侠</span>的称号!
	</div-->
	<% if @quest_count> 0 %>
	<div>
	还有<%=@quest_count%>个<a href="/quests">任务</a>
	<!--,3个<a href="myspecialurl:help//http://wh.joyqom.com/help?cat=badge&name=badge1">荣誉勋章</a>和2个<a href="myspecialurl:help//http://wh.joyqom.com/help?cat=badge&name=badge1">头衔</a-->等着你去获取呢!
	</div>
	<% end %>
	</div><!-- main -->
	<div id="preload"> </div>
</body>
</html>

<script src="/javascripts/jquery-1.3.2.js"></script>
<script>
function query_msg(){
//	alert(action_name);
	$.ajax({
			type: "get",
			url: "/message/get?type=html&type2=text&delete=1"+"?t="+ new Date().getTime(),

			success: function(data, textStatus){
				  // alert( "Data Saved: " + data +","+ textStatus);
			//	$("#memopad").css("display", "block");
			if (data.length >0){
				// alert(data);
			  $("#main").html( $("#main").html()+data);
			 $("#main").attr("scrollTop",$("#main").attr('scrollHeight'));
					 window.location = "myspecialurl:foo"+"//"+encodeURIComponent(data);
			}
	
			// g_data = data;
		
			// if (data.msg)
			// 	showTextWithTimer(data.msg);
			// else
			// 	apply();
			//alert(data.progress);
			//alert($("#pro_left"));
	
		
			//hasMemo=1;
			},
			error: function(xhr, textStatus, errorThrow){
				//alert("error"+errorThrow+","+textStatus+","+xhr.responseText);
			}
	});
}
	 timer = setInterval('query_msg();', 30000+30000*Math.random());
	// timer = setInterval('query_msg();', 3000);
	// alert("dsf");
</script>