<html>
<head>
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="0">
<!-- <META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT"> -->

</head>
<style>
.preloader {
/* Images you want to preload*/
/*background-image: url(/game/profile/p_0.png);
background-image: url(/game/profile/p_0b.png);
background-image: url(/game/profile/p_0m.png);

background-image: url(/game/profile/p_1.png);
background-image: url(/game/profile/p_1b.png);
background-image: url(/game/profile/p_1m.png);

background-image: url(/game/profile/p_2.png);
background-image: url(/game/profile/p_2b.png);
background-image: url(/game/profile/p_2m.png);

background-image: url(/game/profile/p_3.png);
background-image: url(/game/profile/p_3b.png);
background-image: url(/game/profile/p_3m.png);

background-image: url(/game/profile/p_4.png);
background-image: url(/game/profile/p_4b.png);
background-image: url(/game/profile/p_4m.png);

background-image: url(/game/profile/p_5.png);
background-image: url(/game/profile/p_5b.png);
background-image: url(/game/profile/p_5m.png);

background-image: url(/game/obj/npc/battle_player001.gif);*/
/*background-image: url(/game/obj/npc/playerview.gif);*/

width: 0px;
height: 0px;
display: inline;
}
a {text-decoration:none}
.rumor {color:blue;}
.system {color:red;}
.t{display:none;}
</style>
<body style="background-color: transparent; font-size:10pt;">
	<div id="main" style="height:160px;overflow:scroll;">
	<div>
	昨日、あなたは<%=@battle_count_last_day %>回挑戦を受けた。勝<span style="color:red" ><%=@win_count_last_day %></span>、負<span style="color:blue"><%=@battle_count_last_day - @win_count_last_day %></span>。
	</div>
	<div>
	あなたの累次戦い勝ち率は<span style="color:red"><%="%0.2f"%[@rate]%>%</span>
	</div>
	<!--div>
	<恭喜你！你获了得<span style="color:brown">一级铁十字勋章</span>和<span style="color:brown">初级剑侠</span>的称号!
	</div-->
	<% if @quest_count> 0 %>
	<div>
	また<%=@quest_count%>つの<a href="/quests">任務</a>
	<!--,3つの<a href="myspecialurl:help//http://wh.joyqom.com/help?cat=badge&name=badge1">栄誉勲章</a>や2つの<a href="myspecialurl:help//http://wh.joyqom.com/help?cat=badge&name=badge1">肩書</a-->きがあなたを待っているよ！!
	</div>
	<% end %>
	<div id="annmt" style="color:red;display:none;">12月1日の前に<a href="/clientaction/gototab/4">、購入金</a>は50％dicountです。</div>
	<!-- <%=@msg%> -->
	</div><!-- main -->
	
	<div id="bottom_float_bar" style="position:fixed;left:0px;z-index:1000;width:269px;bottom:0;right:0;">
	<a href="safari://itms-apps:://itunes.apple.com/jp/app/7zhong-wu-qino-jiang-hu-zheng/id543763319?ls=1&mt=8" style="float:right;">
		<img src="/images/btn_comment_j.png" style="height:20px;border-width:0;" />
		</a>
	</div>

</body>
</html>

<script src="/javascripts/jquery-1.3.2.js"></script>
<script>
function query_msg(f){
	// alert("action_name");
	$.ajax({
			type: "get",
			url: "/message/get?type=html&type2=text&delete="+f+"?t="+ new Date().getTime(),

			success: function(data, textStatus){
				  // alert( "Data Saved: " + data +","+ textStatus);
			//	$("#memopad").css("display", "block");
			if (data.length >0){
				// alert(data);
			  $("#main").html( $("#main").html()+data);
			 $("#main").attr("scrollTop",$("#main").attr('scrollHeight'));
				 if (!f)
				 		window.location = "myspecialurl:foo"+"//"+encodeURIComponent(data);
			}
	
			// g_data = data;
		
			// if (data.msg)
			// 	showTextWithTimer(data.msg);
			// else
			// 	apply();
			//alert(data.progress);
			//alert($("#pro_left"));
	
		
			//hasMemo=1;
			},
			error: function(xhr, textStatus, errorThrow){
				//alert("error"+errorThrow+","+textStatus+","+xhr.responseText);
			}
	});
}
function showAnnouncement(){
	$("#annmt").css("display", "block");
}
	// query_msg(1);
	timer = setInterval('query_msg(1);', 10000+10000*Math.random());
	timer2 = setInterval('showAnnouncement();', 1);
	// timer = setInterval('query_msg();', 3000);
	// alert("dsf");
	$("#main").attr("scrollTop",$("#main").attr('scrollHeight'));
</script>