<html>
<body style="background-color: transparent; font-size:10pt;font-weight:bold;">
	<div id="main">
	<div>
	你昨天一共收到<%=@battle_count_last_day %>次挑战，胜<span style="color:red" ><%=@win_count_last_day %></span>, 负<span style="color:blue"><%=@battle_count_last_day - @win_count_last_day %></span>.
	</div>
	<div>
	你的累计战斗胜率为<span style="color:red"><%="%0.2f"%[@rate]%>%</span>
	</div>
	<div>
	恭喜你！你获了得<span style="color:brown">一级铁十字勋章</span>和<span style="color:brown">初级剑侠</span>的称号!
	</div>
	<div>
	还有<%=@quest_count%>个<a href="/quests">任务</a>,3个<a href="">荣誉勋章</a>和2个<a href="">头衔</a>等着你去获取呢!
	</div>
	</div><!-- main -->
</body>
</html>

<script src="/javascripts/jquery-1.3.2.js"></script>
<script>
function query_msg(){
//	alert(action_name);
	$.ajax({
			type: "get",
			url: "/message/get?type=html&type2=text&delete=1"+"?t="+ new Date().getTime(),
			data: {
				quest: '<%=@quest_name %>',
				action1: action_name,
				sid: '<%=@sid%>',
				authenticity_token:window._token
			}, 
			dataType: 'json',
			success: function(data, textStatus){
				  // alert( "Data Saved: " + data +","+ textStatus);
			//	$("#memopad").css("display", "block");
			 //  $("#result").html( $("#result").html()+data);
			 //$("#result").attr("scrollTop",$("#result").attr('scrollHeight'));
			g_data = data;
		
			if (data.msg)
				showTextWithTimer(data.msg);
			else
				apply();
			//alert(data.progress);
			//alert($("#pro_left"));
	
		
			//hasMemo=1;
			},
			error: function(xhr, textStatus, errorThrow){
				//alert("error"+errorThrow+","+textStatus+","+xhr.responseText);
			}
	});
}

</script>