<p>
  <b>Uid:</b>
  <%=h @userrsch.uid %>
</p>

<p>
  <b>Sid:</b>
  <%=h @userrsch.sid %>
</p>

<p>
  <b>Skname:</b>
  <%=h @userrsch.skname %>
</p>

<p>
  <b>Progress:</b>
  <%=h @userrsch.progress %>
</p>


<%= link_to 'Edit', edit_userrsch_path(@userrsch) %> |
<%= link_to 'Back', userrsches_path %>